html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100vh;
}

body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100vh;
    background: url(image/mountain.jpg) 50% 50% no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family:serifpro;
}
.login {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    padding:3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    margin-top:0px;
    font-weight: lighter;
    color:#fff;
    font-size: 50px;
    text-align: center;
}

input {
    display: block;
    width:320px;
    height: 50px;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.5);
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 332px;
    height: 50px;;
    font-size:24px;
    background:#000;
    color: #fff;
    font-family:serifpro;
    font-weight:lighter;
    border: 0px;
    border-radius: 5px;
}









